<div *ngFor="let pel of pelicula" class="container">
<span class="h1">Detalle {{pel.Tipo}}: {{pel.Nombre}}</span>
<a href="editar-pelicula.html?id={{pel.Id}}" class="btn btn-info">Editar</a>
<!--<a href="anadir-capitulo.html?clave={{pel.Clave}}">Añadir Capitulo</a>-->
<a href="eliminar-pelicula.html?id={{pel.Id}}&nombre={{pel.Nombre}}&clave={{pel.Clave}}" class="btn btn-danger">Eliminar Elemento</a>
  <div class="row">
<div  class="col-lg-12">
  <div class="col-lg-12">
    <span class="h5" >Nombre {{pel.Tipo}}: </span> 
    <span>{{pel.Nombre}}</span>
  </div>
  <div class="col-lg-12">
    <span class="h5">Sipnosis: </span>  
    <span>{{pel.Sipnosis}}</span>
  </div>
  <div class="col-lg-12" *ngIf="pel.claveTipo!='PEL' && pel.claveTipo!='DIB' && pel.claveTipo!='PMA' ">
    <span class="h5">Nº Temporadas: </span>
    <span>{{pel.Temporada}}</span>
  </div>
  <div class="col-lg-12">
    <span class="h5">Estado: </span>
    <span>{{pel.Estado}}</span>
  </div>
  <div class="col-lg-12">
    <span class="h5">Genero: </span>
    <span>{{pel.Genero}}</span>
  </div>
</div>
</div>
<div *ngIf="pel.claveTipo!='PEL' && pel.claveTipo!='DIB' && pel.claveTipo!='PMA' ">
  <div id="accordion">
    <div class="card">
      <div *ngFor= "let tempo of temporadas">
        <div class="card-header">
          <button class="btn btn-link" data-toggle="collapse" attr.data-target="#{{tempo.codTemporada}}">{{tempo.nomTemporada}}</button>
          <a href="anadir-capitulo.html?clavPel={{pel.Clave}}&temporada={{tempo.numTemporada}}" class="btn btn-success btn-sm">Añadir Capitulo</a> 
        </div><!-- <div class="card-header"> -->

        <div id="{{tempo.codTemporada}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
              <table class="table table-hover table-bordered">
                    <thead>
                        <th>Numero</th>
                        <th>Episodio</th>
                        <th colspan="2"></th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cap of tempo.episodios">
                            <td>{{cap.NumEpisodio}}</td>
                            <td>{{cap.Episodio}}</td>
                            <td><a class="btn btn-sm btn-info" href="editar-capitulo.html?id={{pel.id}}">Editar</a></td>
                            <td><a class="btn btn-sm btn-danger" href="editar-capitulo.html?id={{pel.id}}">Eliminar</a></td>
                          </tr>
                      </tbody>
                </table>
          </div><!-- <div class="card-body"> -->
        </div><!-- <div id="a" class="collapse" data-parent="#accordion"> -->
      </div><!-- <div *ngFor= "let tempo of temporadas"> -->
    </div> <!-- <div class="card"> -->
  </div><!-- <div id="accordion"> -->
</div><!-- <div *ngIf="pel.claveTipo!='PEL'"> -->

</div> <!-- <div class="container"> -->