<div class="container">
  <div class="md-col-12">
    <a download="download.xlsx" href="#" onclick="return ngTableExcelExport.excel(this, 'peliculas', 'Sheet Name Here');" class="btn btn-success">Export to Excel</a>
    <div id="buscador">
      <form>
        <div class="form-group">
          <label>Buscar</label>
          <input type="text" (keypress)="pruebas($event)" id="search" class="form-control" />
        <!--<button class="btn">Buscar</button>-->
        </div>
      </form>
    </div>
    <div>
      <table class="table table-hover table-bordered" id="peliculas">
          <thead>
            <!--<th>JSON</th>-->
            <th>Clave</th>
            <!--<th>Clave</th>-->
            <th>Titulo</th>
            <th>Productora</th>
            <th>Tipo</th>
            <th>Formato</th>
            <th>Temporada</th>
          </thead>
          <tbody class="pagination">
            <tr *ngFor="let pelicula of peliculas">
              <!--<td><pre>{{pelicula.toString()}}</pre></td>-->
              <td>{{pelicula.Clave}}</td>
              <!--<td>{{pelicula.clave}}</td>-->
              <td><a href="detallepelicula.html?id={{pelicula.Id}}">{{pelicula.Nombre}}</a></td>
              <td>{{pelicula.Productora}}</td>
              <td>{{pelicula.Tipo}}</td>
              <td>{{pelicula.Formato}}</td>
              <td *ngIf="pelicula.Temporada === 0"></td>
              <td *ngIf="pelicula.Temporada !== 0">{{pelicula.Temporada}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>