<div class="container">
  <h1>Insertar un episodio</h1>
  <form [formGroup]="formepisodio">
    <div class="form-group">
      <label class="center-block">Pelicula:
        <input class="form-control" formControlName="pelicula" readonly="readonly" />
      </label>
      <label class="center-block">Nombre Episodio:
        <input class="form-control" formControlName="episodio">
      </label>
      <label class="center-block">Temporada:
          <input type="number" class="form-control" formControlName="temporada">
        </label>
      <label class="center-block">Numero Episodio:
          <input type="number" class="form-control" formControlName="numEpisodio">
      </label>
    </div>
    <button (click)="onClick()">Aceptar</button>
  </form>

  <h2>Form value: {{ formepisodio.value | json }}</h2>
</div>